/* Overall Styling */
body {
  background-color: #080b0c;
  display: grid;
  color: white;
  font: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* Navbar Styling */
nav a {
  display: inline-block;
  margin: 1em;
  margin-top: 1px;
  color: white;
  text-decoration: underline;
}

nav a:hover {
  color: #4cc9f0;
}

nav h5 {
  display: inline-block;
  margin: 0px;
  letter-spacing: 1px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: #a91010; */
  padding: 5px;
  padding-bottom: 0px;
}

img {
  height: 50px;
  width: 200px;
}

#logo {
  display: inline-block;
  align-items: flex-end;
  /* font-family: Roboto, sans-serif; */
  color: #f7d9c4;
}

/* Main Map Styling */
.play-button {
  background: #384f56;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: #ced4da;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

.play-button:hover {
  background-color: #ced4da;
  color: rgba(38, 50, 56);
  font-weight: 600;
}

.ticks {
  font-size: 10px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 60;
  padding: 2px;
  font: 12px sans-serif;
  background: #ced4da;
  color: #080b0c;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#main {
  display: flex;
  justify-content: space-evenly;
}

#map {
  flex-direction: column;
  margin-top: 20px;
  /* border: 2px solid peachpuff; */
}

#mapTimer {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}
#pip {
  display: inline-block;
  width: 70%;
  padding: 5px;
  /* border: 2px solid lime; */
}
#pop {
  display: inline-block;
  width: 30%;
  margin-right: 30px;
  /* border: 2px solid orange; */
}
.aboveTimeline {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid orange; */
}

#aboveTitle {
  /* border: 2px solid yellow; */
}

#totalsBox {
  margin-top: 75px;
  margin-bottom: 30px;
  width: 15vw;
  padding: 10px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
  /* box-shadow: 5px 5px rgba(236, 235, 235, 0.2); */
  font-size: 18px;
  /* z-index: 1; */
}
.select-css {
  margin: 0px;
}
#time {
  /* border: 2px solid peachpuff; */
  align-items: flex-end;
}

#test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Age Chart Styling */

.ageChartNinfo {
  display: flex;
  justify-content: space-around;
}

#ageTitle {
  display: flex;
  justify-content: center;
}

.ageChartNinfo div {
  z-index: 10;
  color: white;
  font-size: 17px;
}

#ageTitle1 {
  color: white;
  text-align: center;
}

#ageTitle2 {
  text-decoration: underline;
}

.ageFacts {
  display: table;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-right: 40px;
  width: 30%;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
}

.ageFacts li {
  margin: 20px;
}

div.tooltipLolli {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

/* Environment Chart Styling */
.co2ChartNinfo div {
  /* z-index: 10; */
  color: white;
  font-size: 17px;
}

.co2ChartNinfo {
  display: flex;
  justify-content: space-around;
}

#enviroTitle1 {
  color: white;
  text-align: center;
}

#enviroTitle2 {
  text-decoration: underline;
}

.co2Facts {
  display: table;
  line-height: 1.6;
  margin-top: 4rem;
  margin-left: 40px;
  width: 30%;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
}

.co2Facts li {
  padding: 10px;
  line-height: 1.6;
}
#envTitle {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

/* Gender Chart Styling */
#genderPage {
  display: flex;
  justify-content: space-evenly;
}
#genderTitle {
  display: flex;
  justify-content: center;
}

.genderFact {
  text-align: center;
}
.jailFact {
  text-align: center;
  padding-top: 50px;
}

#genderPage {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0px;
  /* border: 2px solid orange; */
}

/* Tooltip for Race/Ethnicity and Umemployment */
div.tooltipz {
  /* position: absolute; */
  text-align: center;
  color: black;
  width: 300px;
  height: 50px;
}

div.tooltipsie {
  position: absolute;
  text-align: center;
  color: black;
  width: 300px;
  height: 50px;
  pointer-events: none;

  /* position: absolute;
  text-align: center;
  width: 100px;
  height: 40;
  padding: 2px;
  font: 12px sans-serif;
  background: #f7d9c4;
  color: #080b0c;
  border: 0px;
  border-radius: 8px; */
}

/* Unemployment Chart Styling */
#unempTitle {
  display: flex;
  justify-content: center;
}

#graphs {
  display: flex;
  flex: 1;
  margin: 0px;
  justify-content: center;
  /* border: 2px solid rgb(255, 0, 221); */
  flex-direction: row;
  flex-wrap: wrap;
}

#unempTitle {
  display: flex;
  justify-content: center;
}

#genderUnemp {
  /* border: 2px solid lime; */
  height: 30%;
  flex: 1;
  width: 33%;
}

#notInLabor {
  /* border: 2px solid peachpuff; */
  height: 30%;
  flex: 1;
  width: 33%;
}

.factsCont {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.facts {
  /* border: 2px solid skyblue; */
  flex-wrap: wrap;
  padding: 10px;
  flex: 1;
  border-radius: 5px 5px 5px;
  margin: 5px 5px 5px;
  letter-spacing: 1px;
  width: 500px;
  height: 400px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  font-size: 20px;
  /* opacity: 0.4; */
  justify-content: flex-end;
}

#totalUnemp {
  /* border: 2px solid red; */
  height: 30%;
  flex: 1;
  width: 33%;
}

/* Jail/Prison Styling */
div.tooltipjails {
  position: absolute;
  text-align: center;
  width: 10%;
  height: 100;
  padding: 2px;
  font: 12px sans-serif;
  background: #f7d9c4;
  color: #080b0c;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.facts li {
  margin: 17px;
}

#jailTitle {
  display: flex;
  justify-content: center;
}
.prisonfacts {
  /* border: 2px solid skyblue; */
  flex-wrap: wrap;
  padding: 30px;
  flex: 1;
  border-radius: 5px 5px 5px;
  margin: 5px 5px 5px;
  letter-spacing: 1px;
  width: 90vw;
  height: 20vh;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  /* opacity: 0.4; */
  justify-content: flex-end;
}

#totalUnemp {
  /* border: 2px solid red; */
  height: 30%;
  flex: 1;
  width: 33%;
}

/* Race/ethnicity Chart Styling */
#ethnPage {
  display: flex;
  justify-content: space-evenly;
}
#ethnTitle {
  display: flex;
  justify-content: center;
}
#chartEthn {
  /* border: 2px solid red; */
  width: 50vw;
}
.factsEthn {
  /* border: 2px solid skyblue; */
  margin-top: 60px;
  margin-bottom: 30px;
  width: 400px;
  height: 620px;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
  font-size: 20px;
}

.factsEthn li {
  margin: 17px;
}

/* Hunger Chart Stylings */
div.tooltipHunger {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 40;
  padding: 2px;
  font: 12px sans-serif;
  background: #f7d9c4;
  color: #080b0c;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
#hungerTitle {
  display: flex;
  justify-content: center;
}
#hungerFact {
  text-align: center;
}

#hungerChart {
  display: flex;
  justify-content: center;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background: rgba(38, 38, 39, 0.5); */
  /* background-color: #a91010; */
  padding: 5px;
  padding-bottom: 0px;
}

.footer h5 {
  display: inline-block;
  margin: 1em;
  margin-top: 1px;
  letter-spacing: 1px;
  text-decoration: underline;
}
.footerul {
  list-style: none;
}
.footer a {
  display: inline-block;
  margin: 1em;
  margin-top: 1px;
  color: white;
  text-decoration: underline;
}
.footer a:hover {
  color: #4cc9f0;
}

/* Styles the Main Map Dropdown */
/* .select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgba(38, 50, 56);
  line-height: 1.3;
  padding: 0.2em 0.2em 0.2em 0.2em;
  width: 220px;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, rgba(38, 50, 56), 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
} */

/* About Page Styling */
#about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#aboutTitle {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.aboutDetails {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 90vw;
  height: 225px;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
}
.sources {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 90vw;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
}

.sources a {
  color: #f7d9c4;
}

.sources a:hover {
  color: #f25f5c;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

/* #jailMainMap {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.mapdiv {
  padding: 20px;
}
.closure {
  display: flex;
  justify-content: center;
}
.jailFact {
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
}
