/* Overall Styling */
body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #080b0c;
  color: #f7d9c4;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* Navbar Styling */
nav a {
  display: inline-block;
  margin: 1em;
  margin-top: 1px;
  color: #f7d9c4;
  text-decoration: underline;
}

nav a:hover {
  color: #4cc9f0;
}

nav h5 {
  display: inline-block;
  margin: 0px;
  letter-spacing: 1px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: #a91010; */
  padding: 5px;
  padding-bottom: 0px;
}

img {
  height: 50px;
  width: 200px;
}

#logo {
  display: inline-block;
  align-items: flex-end;
  /* font-family: Roboto, sans-serif; */
  color: #f7d9c4;
}

/* Main Map Styling */
.play-button {
  background: #384f56;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: #f7d9c4;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

.play-button:hover {
  background-color: #f25f5c;
}

.ticks {
  font-size: 10px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: #f7d9c4;
  color: #080b0c;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#main {
  display: flex;
  justify-content: center;
}

#map {
  flex-direction: column;
}

#time {
  /* border: 2px solid peachpuff; */
  align-items: flex-end;
}

#test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Age Chart Styling */
form div {
  margin: 1em;
  display: inline-block;
}

.chartNinfo {
  display: flex;
  justify-content: space-around;
}

.chartNinfo div {
  z-index: 10;
  color: white;
  font-size: 1.6rem;
}

.ageFacts li {
  padding: 10px;
  line-height: 1.6;
}

.flex {
  display: flex;
}

div.tooltipLolli {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

/* Gender Chart Styling */
#genderPage {
  display: flex;
  justify-content: space-between;
}

/* Unemployment Chart Styling */
#unempTitle {
  display: flex;
  justify-content: center;
}

div.tooltipz {
  /* position: absolute; */
  text-align: center;
  color: black;
  width: 300px;
  height: 50px;
}

.button {
  background: rgba(38, 50, 56);
  padding-right: 80px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 5px;
  padding: 0 12px;
  width: 100px;
  cursor: pointer;
  height: 30px;
}

.button:hover {
  background-color: #ced4da;
  color: rgba(38, 50, 56);
}

/* Hunger Chart Stylings */
div.tooltipHunger {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 40;
  padding: 2px;
  font: 12px sans-serif;
  background: #f7d9c4;
  color: #080b0c;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#hungerFact {
  text-align: center;
}

#hungerChart {
  display: flex;
  justify-content: center;
}
