body {
  background-color: #080b0c;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  margin-top: 1px;
  color: white;
  /* text-decoration: underline; */
}

nav a:hover {
  color: #80ed99;
}

nav h5 {
  display: inline-block;
  margin: 0px;
  letter-spacing: 1px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: #a91010; */
  padding: 5px;
  padding-bottom: 0px;
}
img {
  height: 50px;
  width: 200px;
}
#logo {
  display: inline-block;
  align-items: flex-end;
  /* font-family: Roboto, sans-serif; */
  color: #f7d9c4;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chartNinfo {
  display: flex;
  justify-content: space-around;
}

.chartNinfo div {
  z-index: 10;
  color: white;
  font-size: 1.6rem;
}

.ageFacts li {
  padding: 10px;
  line-height: 1.6;
}

.flex {
  display: flex;
}

.play-button {
  /* position: absolute;
  top: 140px;
  left: 50px; */
  background: rgba(38, 50, 56);
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

.play-button:hover {
  background-color: #ced4da;
  color: rgba(38, 50, 56);
  font-weight: 600;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: pink;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

div.tooltipLolli {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  color: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#mainMap {
  display: flex;
  justify-content: space-evenly;
}
#map {
  flex-direction: column;
  /* border: 2px solid lime; */
}
#time {
  /* border: 2px solid peachpuff; */
  align-items: flex-end;
}
div.tooltipz {
  /* position: absolute; */
  text-align: center;
  color: black;
  width: 300px;
  height: 50px;
}

#genderPage {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* border: 2px solid orange; */
}

#graphs {
  display: flex;
  flex: 1;
  margin: 25px;
  justify-content: center;
  /* border: 2px solid rgb(255, 0, 221); */
  flex-direction: row;
  flex-wrap: wrap;
}
#unempTitle {
  display: flex;
  justify-content: center;
}
#genderUnemp {
  /* border: 2px solid lime; */
  height: 30%;
  flex: 1;
  width: 33%;
}
#notInLabor {
  /* border: 2px solid peachpuff; */
  height: 30%;
  flex: 1;
  width: 33%;
}
.factsCont {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.facts {
  /* border: 2px solid skyblue; */
  flex-wrap: wrap;
  padding: 30px;
  flex: 1;
  border-radius: 5px 5px 5px;
  margin: 5px 5px 5px;
  letter-spacing: 1px;
  width: 90vw;
  height: 60vh;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  /* opacity: 0.4; */
  justify-content: flex-end;
}
#totalUnemp {
  /* border: 2px solid red; */
  height: 30%;
  flex: 1;
  width: 33%;
}

.facts li {
  margin: 10px;
}

/* ethnicity page */
#ethnPage {
  display: flex;
  justify-content: space-evenly;
}
#ethnTitle {
  display: flex;
  justify-content: center;
}
#chartEthn {
  /* border: 2px solid red; */
  width: 50vw;
}
.factsEthn {
  /* border: 2px solid skyblue; */
  margin-top: 60px;
  margin-bottom: 30px;
  width: 30vw;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
  font-size: 20px;
}

.factsEthn li {
  margin: 10px;
}
.button {
  background: rgba(38, 50, 56);
  padding-right: 80px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 5px;
  padding: 0 12px;
  width: 100px;
  cursor: pointer;
  height: 30px;
}

.button:hover {
  background-color: #ced4da;
  color: rgba(38, 50, 56);
}

/* styles the select element */
/* .select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgba(38, 50, 56);
  line-height: 1.3;
  padding: 0.2em 0.2em 0.2em 0.2em;
  width: 220px;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, rgba(38, 50, 56), 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
} */
/* .select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
} */

.sources {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 90vw;
  padding: 20px;
  letter-spacing: 1px;
  background: rgba(38, 38, 39, 0.5);
  color: white;
  border-radius: 5px 5px 5px;
}

.sources a {
  color: #f7d9c4;
}

.sources a:hover {
  color: #f25f5c;
}
